@model SupportTicketApp.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Add Comment";
    // int ticketId = ViewBag.TicketId != null ? (int)ViewBag.TicketId : 0;
    int ticketId = ViewBag.TicketId as int? ?? 0; // Null kontrolü ile TicketId alınıyor


}

<h2>Add Comment</h2>

@using (Html.BeginForm("AddComment", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("TicketId", ticketId)

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="CommentImages">Attach Images (Optional)</label>
        <input type="file" name="CommentImages" class="form-control" multiple />
    </div>

    <button type="submit" class="btn btn-primary">Submit Comment</button>
}
